
@font-face {
    font-family: 'torusregular';
    src: url('torus_regular-webfont.woff2') format('woff2'),
         url('torus_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    font-family: 'torusregular';
    font-weight: normal;
    font-style: normal;
    background-color: #FFD8D8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}


.login-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.5rem;
}


.login-container p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
}


form label {
    display: block;
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: left;
}


form input {
    width: 100%;
    padding: 0.5rem;
    padding-right: 0;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}


form .btn {
    background-color: #FF6B6B;
    color: #fff;
    border: none;
    padding: 0.8rem;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

form .btn:hover {
    background-color: #e05555;
}


.signup-link {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.signup-link a {
    color: #FF6B6B;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
